
  body {
    background: linear-gradient(-45deg, violet, black,violet, black);
    background-size: 1000% 1000%;
    animation: ivan 15s ease infinite;
}

@keyframes ivan {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
  

#log  {
 
  height:500px;
  width:450px; 
  background-color:skyblue;
  text-align:center;
  margin-top: 15%;
  margin-left: 40%;
  color: #fff;
  padding: 7px 0px 0px 10px;
  border-radius: 20%;
  
}


#log .ivan a {


  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;

}


form  {

  margin-top: 35%;
  
}
    
  .navbar {
      overflow: hidden;
      background-color: #333;
    }
    
    .navbar a {
      float: left;
      font-size: 16px;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    .dropdown {
      float: left;
      overflow: hidden;
    }
    
    .dropdown .dropbtn {
      font-size: 16px;  
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }
    
    .navbar a:hover, .dropdown:hover .dropbtn {
      background-color: aqua;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
    .dropdown-content a:hover {
      background-color:#AED6F1 ;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    .navigation{
      
      height:150%;
      width: 100%; 
      background: url("https://www.icegif.com/wp-content/uploads/icegif-3384.gif") ;
      text-align:center;
      padding: 7px 0px 0px 10px;
      border-radius: 0%;
      
    }
    
    
    @media screen and (min-width: 600px) {
      .navigation {
        height:150%;
        width:30%; 
        background: url("https://www.icegif.com/wp-content/uploads/icegif-3384.gif") ;
        text-align:center;
        padding: 7px 0px 0px 10px;
        border-radius: 0%;
      }
    }
    
    
    
    .press {
      padding-right: 15%;
      margin-top: 15%;
      font-family: "Helvetica", Times, serif; 
      text-align:center; 
      color:black; 
      font-size: 20px;
      line-height: 150%; 
      
    
    }
    
    
    ul, li {
    
      list-style: none;
    }
  
    nav { height: 200%; width: 100%; float:central; text-align: center;}
  
  nav a {
      display: block;
      padding: 0.8em;
      text-decoration: none; 
      font-weight: bold;
      border: 0px solid white;
      border-radius: 0px;
      box-shadow: 0 0px 0px white inset;
      color:white; 
      background-color: 0 ; 
      transition: all .25s ease-in;	  
    
    }
  
  nav li[aria-current] a {
    background-color: wheat; 
    color:0 ;
  }
    
    nav a:focus,
    nav a:hover,
    nav li[aria-current] a:focus,
    nav li[aria-current] a:hover {    
      color: 0 ; 
      background-color: 0;
    }
  
  
  
    
  a:hover  {
      color:white ;
    }


    

