    
body {
   
    background-color:	#000000; 
    font-family: "Times New Roman", Times, serif;
}

header {
  margin-top: -4%;
  height: 6%;
  width: 100%;
  background-color:#273746 ;
}

h2 {
    font-family: "Times New Roman", Times, serif; 
    text-align:center; 
    color:white; 
    font-size: 80px;
    line-height: 140%; 
  animation: textwelle 8s;
}

@keyframes textwelle {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }  
  70% {
    transform: scale(1.25);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;	
  }
 
}

nav { height: 200%; width: 100%; float:central; text-align: center;}

nav a {
    display: block;
    padding: 0.8em;
    text-decoration: none; 
    font-weight: bold;
    border: 0px solid white;
    border-radius: 0px;
    box-shadow: 0 0px 0px white inset;
    color:black; 
    background-color: 0 ; 
    transition: all .25s ease-in;	  
  
  }

nav li[aria-current] a {
  background-color: wheat; 
  color:0 ;
}
  
  nav a:focus,
  nav a:hover,
  nav li[aria-current] a:focus,
  nav li[aria-current] a:hover {    
    color: 0 ; 
    background-color: 0;
  }
video  {padding-left: 30%;}
  
  a  {
     
      color:white;
      text-decoration: none;
  }

  

  iframe {padding-left: 30%}

 

 ol li::marker {
  color:white;
  font-size: 1.2em;
}
li {color: white;}




a:hover  {
  color:#D6EAF8  ;
}

b a:hover {
  color:#AED6F1;
}


html, body {
  width: 100%;
  height:100%;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 1000% 1000%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}





/*index.html--content-element-train-train2-box...................................................................................*/
.content {
margin-top: 10%;
}

.element {
  margin-top: 7%;
  margin-left: -10%;
  max-height: 60%;
  max-width: 60%;
  background-color: blue;
  animation: 
    pulse 10s ease infinite alternate, 
    nudge 5s linear infinite alternate;
  border-radius: 100%;
}

@keyframes pulse {
  0%, 100% {
    background-color:#3498DB ;
  }
  50% {
    background-color: #2E86C1;
  }

  70% {
    background-color: #AED6F1;
  }
}

@media screen and (max-width: 600px) {

  .train {

    font-size: 400%;
    width: 20%;
    padding-top: 38%;
    padding-left: 35%; 
    
  }
  
  .train2 {
  
    font-size: 70%;
  
    
  }
}

.train {

  font-size: 400%;
  width: 20%;
  padding-top: 38%;
  padding-left: 35%; 
  
}

.train2 {

  font-size: 70%;

  
}



.box {
  font-family: "Times New Roman", Times, serif;
  font-size: 100%; 
  line-height: 50px;
}
/*...End.....................................................................................................*/

.headerContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
}

.burgermenuIcon {
  width: 100%;
  margin-right: 5%;
  display: flex;
  justify-content: flex-end;
  float: right;
}

img {
  padding-right: 5%;
}

.pic {

  float: left;
  padding-left: 1%;
  color: white;
  font-size: 250%;
}



.rezept {

  padding-right: 65%;
}


body, p {
  margin: 0px;
}


.button {
  padding-right: 70%;
  padding-top: 15%;
  font-family: "Helvetica", Times, serif; 
  text-align:center; 
  color:white; 
  font-size: 40px;
  line-height: 20%; 
animation: textwelle 3s;
}

@keyframes textwelle {
0% {
  transform: scale(0.1);
  opacity: 0;
}  
70% {
  transform: scale(1);
  opacity: 1;
}
100% {
  transform: scale(1);
  opacity: 1;	
}

}



.text {

  text-align: center;

}





    ul, li {
    
      list-style: none;
    }
  
    nav { height: 200%; width: 100%; float:central; text-align: center;}
  
  nav a {
      display: block;
      padding: 0.8em;
      text-decoration: none; 
      font-weight: bold;
      border: 0px solid white;
      border-radius: 0px;
      box-shadow: 0 0px 0px white inset;
      color:white; 
      background-color: 0 ; 
      transition: all .25s ease-in;	  
    
    }
  
  nav li[aria-current] a {
    background-color: wheat; 
    color:0 ;
  }
    
    nav a:focus,
    nav a:hover,
    nav li[aria-current] a:focus,
    nav li[aria-current] a:hover {    
      color: 0 ; 
      background-color: 0;
    }
  
  
  
    
  a:hover  {
      color:white ;
    }

    
    
    
    
    
    
    
    
    
    /*index.html--site-footer.........................................................................................*/
    
    #site-footer {
      display: flex;
      justify-content: space-between;
      padding: 25px 0;
      font-size: 85%;
      background-color: #2A2A2A;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
    }

    #site-footer ul li  {
      color: white;
      font-size: 0px;
      padding-right: 5%;
      margin-top: 3%;
      
    }
   

    /*..End.........................................................................................*/